@import "compass"
@import "compass/reset"

// Colors
$light: #FFF
$heavy: #000
$brown: #483831
$brown_light: #DABFA2
$green: #BED638
$blue: #26A9E1
$orange: #F6931E

// HTML5 Boilerplate Colors
//  edit, but don't remove these
$h5bp-text-selection: $blue
$h5bp-webkit-tap:     $blue

@import html5boilerplate/main
@import 960/grid.sass

+global-reset

// These imports should remain below the bulk of the stylesheet so they can override correctly.
@import "html5boilerplate/nonsemantichelpers"
@import "html5boilerplate/mediaqueries"
@import "compass/typography/lists/horizontal-list"
@import "compass/typography/lists/bullets"

@import "blueprint/typography"
+blueprint-typography

a 
  +link-colors($brown, $brown_light, $blue, $brown, $green)
a img
  border: 0px

body
  font: normal normal 400 1em/1.5em Georgia,Serif

article
  padding: 10px, 0px, 10px

#container
  +grid-system(12)
  +clearfix
  +grid-children

  header
    padding: 0px 0px 50px
    +clearfix
    border-bottom: 1px dotted $brown_light
    #nav-holder
      +clearfix
      padding: 0px 0px 50px
      nav
        +horizontal-list
        +grid-prefix(1,12)
        +grid(4,12)
      .address
        font-size: 70%
        +grid(7,12)
        +omega
    .title
      +grid-prefix(1,12)
      +grid(3,12)
    .body
      +grid-prefix(1,12)
      +grid(6,12)
      +omega
      #headline
        +clearfix
  & > section
    padding: 30px 0px 40px
    +clearfix
    .title
      +grid-prefix(2,12)
      +grid(3,12)
    .body
      border-bottom: 1px dotted $brown_light
      +grid(6,12)
      +omega
      +clearfix
      .image
        +grid(2,12)
      .about
        +grid(3,12)
        +clearfix
        +omega
      .resume
        +grid(6,12)
        +clearfix
        +omega

.social
  & > ul
    +horizontal-list

#map_holder
  +grid-system(12)
  +clearfix
  +grid-prefix(1,12)
  #map_canvas
    +grid(10,12)
    +omega
    height: 300px

ul.address
  +no-bullets

#footer
  width: 100%
  background-color: $brown
  margin: 50px 0px 0px
  -moz-box-shadow: 0px 0px 10px $brown
  -webkit-box-shadow: 0px 0px 10px $brown
  box-shadow: 0px 0px 10px $brown
  padding: 30px 0px 50px
  li, h5, p
    color: $brown_light
  #footer-container
    +grid-system(12)
    +clearfix
    +grid-children
    +no-bullets
    ul
      padding-left: 0px
    a
      +link-colors($brown_light, $light, $blue, $brown_light, $green)
      text-decoration: none
    #footernav
      +grid-prefix(2,12)
      +grid(3,12)
    #footercontact
      +grid(3,12)
    #footermore
      +grid(3,12)
      +omega
    ul
      margin: 0px
  #footermeta
    padding: 30px 0px 0px
    +clearfix
    #footerversion
      font-size: 70%
      +grid-system(12)
      +grid-prefix(2,12)
      +grid(8,12)
      +omega

