#about
  .motto
    font-size: 1.1em
    font-family: 'Titillium Web', sans-serif
    font-weight: 400
    color: #949496
    line-height: 28px
    text-align: center

  .solutions
    .img
      background-repeat: no-repeat
      min-height: 212px
      background-position: center top
      &:hover
        background-position: center -212px
        cursor: pointer
      &.img-1
        background-image: image-url('about_ico_01.png')
      &.img-2
        background-image: image-url('about_ico_02.png')
      &.img-3
        background-image: image-url('about_ico_03.png')

    .profile-info
      font-family: 'Lato', sans-serif
      font-size: 14px
      font-weight: 400
      text-align: center
      color: #7c8180
