body.blog
  & > .row
    padding-top: 3em
    padding-bottom: 7em
  article.blog-entry
    padding-bottom: 3em
  aside.nav
    h2
      text-align: inherit
      font-size: 1.3em
    ol
      list-style-type: none
  img, iframe
    max-width: 100%
    display: block
    margin-left: auto
    margin-right: auto
