#contact
  background-color: #49c9af
  *
    color: white
  h3
    text-align: inherit

  #contactform
    textarea
      height: 8em
    input, textarea
      padding: 1.5em
      margin-top: 1em
      margin-bottom: 2em
      font-family: 'Open Sans', sans-serif
      border-radius: 8px
      border: none
      background: #3fb79f
      font-size: 13px
      font-weight: normal
    label
      color: #f3f3f3
      font-family: 'Lato', sans-serif
      font-weight: 700
      font-size: 12px
      text-transform: uppercase
    .submit
      float: right
      background-color: #fa5c5c
      border-radius: 6px
      display: inline-block
      color: #feffff
      font-family: 'Lato', sans-serif
      font-size: 15px
      font-weight: 700
      padding: 6px 24px 4px 24px
      text-decoration: none
      text-align: center
      margin-right: 0px
      margin-top: 22px
      &:hover
        background-color: #2c3e50

  .media
    & > a
      cursor: pointer
      background-color: darken(#49c9af, 10%)
      width: 40px
      height: 40px
      margin: 0px 4px
      float: left
      border-radius: 20px
      background-position: center
      background-repeat: no-repeat
      background-size: auto 50%

    & > .twitter
      background-image: image-url('t-twitter.png')
      background-image: none, inline-image('t-twitter.svg')
    & > .github
      background-image: image-url('t-github.png')
      background-image: none, inline-image('t-github.svg')
    & > a:hover
      background-color: darken(#49c9af, 30%)
