=futura
  font-family: "futura-pt",sans-serif

body
  font-weight: 300

h1, h2, h3, p
  +futura

h1
  +futura
  font-size: 3em
  font-weight: 700

h2, h3
  +futura
  font-weight: 400

h2
  font-style: italic
  font-size: 2em

h3
  font-size: 2em

p
  font-size: 1.3em
