#services

  .services
    .img
      background-repeat: no-repeat
      min-height: 212px
      background-position: center top
      &.img-1
        background-image: image-url('service_01.png')
      &.img-2
        background-image: image-url('service_02.png')
      &.img-3
        background-image: image-url('service_03.png')
      &.img-4
        background-image: image-url('service_04.png')
