$images: ()
$images: append($images, 'bookmark')
$images: append($images, 'blog')
$images: append($images, 'banner-big-left')
$images: append($images, 'banner-big-right')
$images: append($images, 'hey')
$images: append($images, 'social-linkedin-green')
$images: append($images, 'social-github-green')
$images: append($images, 'social-twitter-green')
$images: append($images, 'social-linkedin-black')
$images: append($images, 'social-github-black')
$images: append($images, 'social-twitter-black')
$images: append($images, 'banner-big-left')
$images: append($images, 'banner-big-right')
$images: append($images, 'skills-nodejs')
$images: append($images, 'skills-ruby')

@each $image in $images
  .image.#{$image}
    @include background(image-url("#{$image}.png"))
    background-repeat: no-repeat
    height: image-height("#{$image}.png")
    width: image-width("#{$image}.png")
