@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic)
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic)
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic)

$red: #df6662
$blue: #50ACE0
$green: #70c4ae
$darkblue: #2b3e50
$grey: #7c8180

*
  color: $grey

h1, h2, h3
  font-family: "futura-pt", sans-serif
  text-transform: uppercase
  font-weight: 300
  font-style: normal
  text-align: center

h1, h2
  font-size: 2.5em
  margin-bottom: 0.1em

h3
  font-size: 18px
  text-align: center
  color: $red
  &.light
    color: white

h1
  color: $green

  &.light
    color: white

h2
  color: #fff

.line
  width: 105px
  height: 5px
  margin: auto
  margin-bottom: 3em

  &.line-1
    background: #ededed

  &.line-2
    background: #44bba3

.page
  min-height: 100%
  padding-top: 3em
  padding-bottom: 7em

.ruler
  width: 100%
  height: 13px
  background: url("../img/footer_pattern.png") repeat-x

fieldset
  border: 0
  margin: 0
  padding: 0
