#main-logo
  @include pre(1)
  +hide-text
  float: left

#main-nav
  @include post(1)
  padding-top: 1em
  float: right
  ul
    +horizontal-list(0.5em)
    text-transform: uppercase
    .blog
      +hide-text
    li
      display: block
      height: image-height("blog.png")
      line-height: image-height("blog.png")

.title
  padding-bottom: 2em
  h2
    font-size: 2em
  text-align: center
  text-transform: uppercase
  @include pre(3)
  @include span-columns(6)
  @include post(3)
  background-repeat: repeat-x
  .center
    overflow: hidden
    @include background(image-url("banner-big-bg.png"))
    height: image-height("banner-big-bg.png")
  .left
    float: left
  .right
    float: right

body, html
  height: 100%
  color: #FAE2A5

.container
  min-height: 100%

.inner
  padding-top: 1em

#header
  @include background(image-url("pattern_dust.png"), $orange)
  .inner
    padding-top: 0

#gorilla
  @include pre(2)
  @include span-columns(6)
  @include background(image-url("gorilla.png"))
  height: image-height("gorilla.png")
  width: image-width("gorilla.png")
  background-repeat: no-repeat

#teaser
  h2
    text-align: right
    font-size: 3em
    text-transform: uppercase
    margin-left: -2em
    @include span-columns(5)
    @include post(1)
  p
    @include pre(2)
    @include span-columns(8)

#solutions
  @include background(image-url("pattern_dust.png"), $beige)
  .solution
    h3
      text-align: center
    p
      padding-left: 1em
      padding-right: 1em
    @include span-columns(4)
    @include nth-omega(3n)
    &.other
      @include pre(3)
      @include span-columns(6)
      @include post(3)
      .hey
        @include span-columns(6 4)

#technologies
  @include background(image-url("pattern_dust.png"), $green)
  .resume
    .technology
      @include background(image-url("pattern_dust.png"), $darkgreen)
      +border-radius(8px)
      +box-shadow
      @include span-columns(6)
      @include nth-omega(2n)
      margin-bottom: 2em

      .technology-outer
        @include span-columns(4)
        display: table
        margin: 0px auto
        height: 8em
        overflow: hidden

        .technology-inner
          height: 100%
          display: table-cell
          vertical-align: middle

          .image
            margin-left: auto
            margin-right: auto

      p
        @include span-columns(8 omega)

#team
  @include background(image-url("pattern_dust.png"), $red)
  .details
    @include pre(1)
    @include span-columns(4)
    .image
      +box-shadow
      overflow: hidden
  .about
    .social ul
      +horizontal-list(0.5em)
    @include pre(1)
    @include span-columns(5)
    @include post(1)

#contact
  @include background(image-url("pattern_dust.png"), $blue)
  .address
    +no-bullets
    @include span-columns(3)
    .social
      ul
        +horizontal-list(0.5em)

  .map-holder
    +box-shadow
    @include span-columns(8 omega)
    .map-canvas
      +clearfix
      height: 18em


footer
  min-height: 50%
  padding-top: 4em
  @include background(image-url("pattern_dust.png"), $anthrazit)
  .address
    @include pre(2)
    @include span-columns(3)
  .contact
    @include span-columns(3)
  .social
    @include span-columns(3)
    @include post(1)
    ul
      +horizontal-list(0.5em)
