#main-logo
  @include pre(1)
  +hide-text
  float: left

#main-nav
  @include post(1)
  padding-top: 1em
  float: right
  ul
    +horizontal-list(0.5em)
    text-transform: uppercase
    .blog
      +hide-text
    li
      display: block
      height: image-height("blog.png")
      line-height: image-height("blog.png")

.title
  padding-top: 2em
  h2
    font-size: 2em
  text-align: center
  text-transform: uppercase
  @include pre(3)
  @include span-columns(6)
  @include post(3)
  background-repeat: repeat-x
  .center
    overflow: hidden
    @include background(image-url("banner-big-bg.png"))
    height: image-height("banner-big-bg.png")
  .left
    float: left
  .right
    float: right

section
  padding-top: 0.83em
  min-height: 50em

#header-container, #teaser-container
  @include background(image-url("pattern_dust.png"), $orange)

#gorilla
  @include pre(2)
  @include span-columns(6)
  @include background(image-url("gorilla.png"))
  height: image-height("gorilla.png")
  width: image-width("gorilla.png")
  background-repeat: no-repeat

#teaser
  h2
    font-size: 3em
    @include span-columns(2)
    @include post(2)
  p
    @include pre(2)
    @include span-columns(8)

#solutions-container
  @include background(image-url("pattern_dust.png"), $beige)
  .solution
    h3
      text-align: center
    p
      padding-left: 1em
      padding-right: 1em
    @include span-columns(4)
    @include nth-omega(3n)
    &.other
      @include pre(3)
      @include span-columns(6)
      @include post(3)
      .hey
        @include span-columns(6 4)

#team-container
  @include background(image-url("pattern_dust.png"), $green)
  .details
    background: yellow
    @include pre(1)
    @include span-columns(5)
  .about
    .social ul
      +horizontal-list(0.5em)
    @include span-columns(5)
    @include post(1)
    background: red
  .resume
    .skill
      .image
        text-align: center
        display: block
        margin-left: auto
        margin-right: auto
      p
        padding-left: 1em
        padding-right: 1em
      @include span-columns(4)
      @include nth-omega(3n)

#contact-container
  #map_holder
    #map_canvas
      height: 15em
  @include background(image-url("pattern_dust.png"), $blue)

section .body
  margin-bottom: 3em
  margin-top: 3em
