%article
  %section#manifest
    .section-wrap
      %h1 #agile manifest
  %section#work
    .section-wrap
      %h1 #work
  %section#team
    .section-wrap
      %h1 #team
  %section#contact
    .section-wrap
      %h1 #contact
