- content_for(:head) do
  %title gorilla software - Individuelle Lösungen fürs Web

#container
  %header
    .title
      %p= image_tag 'gorilla.png', :alt => "logo gorilla software", :class => 'logo'
    .body
      #headline
        %hgroup
          %h1
            gorilla software
          %h2
            Individuelle Lösungen fürs Web
      %p
        Gorilla Software bietet individuelle Lösungen fürs Web. Wir programmieren aus Leidenschaft und verfolgen dabei einen
        %a{:href => "http://agilemanifesto.org/"}agilen und pragmatischen Softwareentwicklungsansatz.
        Die Nachhaltigkeit unserer Arbeit ist uns wichtig.  Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig 	 erkennen. Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen. 

  %section#solutions
    .title
      %a{:name => "#solutions"}
      %h2 Lösungen
    .body
      %article.solution#web
        %h3 Web & Mobile Applikationen
        %p
          Wir bieten Web-Applikationen, die ein breites Spektrum abdecken. Unsere Gesamtlösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zu komplexen asynchronen Datenverarbeitung.
      %article.solution#standards
        %h3 Offene Standards
        %p
          Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder Ihre Daten für andere zu Verfügung stellen möchten. Ihre Web Schnittstellen (APIs) entwickeln wir nach offenen Standards. 
      %article.solution#data
        %h3 Big Data und Web Mining
        %p
          Wir helfen Ihnen unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es Ihnen gezielt auf Informationen 

  %section#team
    .title
      %a{:name => "#team"}
      %h2 Team
    .body
      %section
        %article.portrait#felipe
          %h3 Felipe Kaufmann
          %p
            =lorem.paragraph
        %article.portrait#seb
          %h3 Sebastian de Castelberg
          %p
            =lorem.paragraph
        %article.portrait#markus
          %h3 Markus Kinzler
          %p
            =lorem.paragraph

/ %section#contact
/   %a{:name => "#contact"}
/     %h2 Kontakt
/     %p
/       Name of the street 123/4
/       %br
/       Name of the City
/       %br
/       Name of the Country
/       %br
/     %p
/       Phone: +321 123 456 7
/       %br
/       Fax: +321 123 456 7
/       %br
/       E-mail:
/       %a{:href => "#"} johndoe@ipsum.com
/       %br
/       Website:
/       %a{:href => "#"} www.loremipsum.com
/       %br
/     .social-networks
/       %h3 Around the internet
/       %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
/       %ul.social-links
/         %li.facebook
/           %a{:href => "#"} Facebook
/         %li.twitter
/           %a{:href => "#"} Twitter
/         %li.tumblr
/           %a{:href => "#"} Tumblr
/         %li.reddit
/           %a{:href => "#"} Github
/     %iframe{:frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Smederevska+Palanka,+Central+Serbia&aq=1&sll=38.918167,-97.209177&sspn=0.013239,0.031478&ie=UTF8&hq=&hnear=Smederevska+Palanka,+Central+Serbia,+Serbia&ll=44.362029,20.961227&spn=0.015341,0.033216&z=14&iwloc=A&output=embed", :width => "596"}
#footer
  #footer-container
    #competitors
      %h3 Not what you were looking for?
      %p Try one of our competitors:
      %ul
        %li
          %a{:href => "http://screenconcept.ch/"}screenconcept.ch

