- content_for :head do
  %title 

#wrapper
  %h1 gorilla
  #title_image
  #main-nav-holder
    %nav#main-nav
      %ul
        %li
          %a{:href => "#what", :title => "What we do"} What we do
        %li
          %a{:href => "#how", :title => "How we work"} How we work
        %li
          %a{:href => "#manifest", :title => "What we do"} Our manifest
        %li
          %a{:href => "#contact", :title => "How to get in touch with us"} How to get in touch with us
  %section#container
    %article#what
      %h1 What we do
      %p We are three software craftsmen with a strong technical background.
    %article#how
      %h1 How we work
      %p
    %article#manifest
      %h1 Our manifest
      %p
    %article#contact
      %h1 Contact
      %p
  %footer
    %nav
      %ul
        %li
        %li
          %a.top{:href => "#", :title => "Back to top"} Top

