%header#header-container
  #header.main
    =link_to '/' do
      #main-logo.image.bookmark
        %h1 GORILLA software

    %navigation#main-nav
      %ul
        %li.solutions=    link_to 'Lösungen', '/#solutions'
        %li.team=         link_to 'Team', '/#team'
        %li.contact=      link_to 'Kontakt', '/#contact'
        %li.blog
          =link_to '/blog' do
            .blog.image

