- wrap_layout :layout do
  .row
    .content.columns.large-8
      %h1= current_page.data.title
      .separator
        .line.line-1
      = yield
      .separator
        .line.line-1
    %aside.nav.columns.large-4
      = partial 'blog_nav'
  =partial 'footer'
