#about
  text-align: center
  .motto
    padding-bottom: 3em
  .solutions
    .solution
      padding-bottom: 2em
      .img
        margin: 0 auto 1em
        cursor: pointer
        background-color: lighten($white, 10%)
        border: solid 4px lighten($red, 30%)
        width: 136px
        padding-top: 128px
        border-radius: 68px
        background-position: center
        background-repeat: no-repeat
        background-size: auto 70%
        &:hover
          background-color: lighten($white, 5%)

      &.web .img
        background-image: image-url('about/web.png')
        background-image: none, inline-image('about/web.svg')
      &.standards .img
        background-image: image-url('about/standards.png')
        background-image: none, inline-image('about/standards.svg')
      &.webmining .img
        background-image: image-url('about/webmining.png')
        background-image: none, inline-image('about/webmining.svg')
