#clients {
  h3 {
    text-align: inherit;
  }

  .clients {
    .client {
      padding-bottom: 3em;
      .technologies {
        font-size: 1.1em;
      }
      p {
        .label {
          background-color: $green;
        }
      }
      .img {
        margin: 0 auto 1em;
        width: 136px;
        height: 128px;
        padding-top: 132px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 70%;
      }

      &.screenconcept .img { background-image: image-url("clients/screenconcept.png") }
      &.fela .img { background-image: image-url("clients/fela.png") }
      &.rayneer .img { background-image: image-url("clients/rayneer.png") }
      &.winterlife .img { background-image: image-url("clients/winterlife.png") }
      &.birom .img { background-image: image-url("clients/birom.png") }
    }
  }
}
