#services
  .services
    .service
      padding-bottom: 3em
      p
        .label
          background-color: $green
      .img
        margin: 0 auto 1em
        width: 200px
        height: 128px
        padding-top: 200px
        background-position: center
        background-repeat: no-repeat
        background-size: auto 70%

      &.langs .img
        background-image: image-url('skills/ruby.png')
        background-image: none, inline-image('skills/ruby.svg')
      &.web .img
        background-image: image-url('skills/rails.png')
        background-image: none, inline-image('skills/rails.svg')
      &.frontend .img
        background-image: image-url('skills/html5.png')
        background-image: none, inline-image('skills/html5.svg')
      &.dataprocessing .img
        background-image: image-url('skills/solr.png')
        background-image: none, inline-image('skills/solr.svg')
      &.systems .img
        background-image: image-url('skills/linux.png')
        background-image: none, inline-image('skills/linux.svg')
      &.oss .img
        background-image: image-url('skills/oss.png')
        background-image: none, inline-image('skills/oss.svg')
