li.slidesjs-pagination-item > a,
a.slidesjs-navigation {
  font-weight: 600;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
}
