.ruler {
  width: 100%;
  height: 13px;
  background-image: image-url("ruler.png");
  background-image: none, inline-image("ruler.svg");
  background-repeat: repeat-x;
  min-height: image-height("ruler.png");
}

.line {
  width: 105px;
  height: 5px;
  margin: auto;
  margin-bottom: 3em;

  &.line-1 {
    background: darken($egg, 10%);
  }

  &.line-2 {
    background: darken($green, 10%);
  }
}

div, a {
  @include transition(
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out
    );
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

@media #{$small} {
  // no h1
  h2, h3, h4, h5, h6 {
    text-align: inherit;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: #999 0 0 5px;
}

time {
  text-transform: uppercase;
  color: #999;
}

p {
  a {
    border-bottom: 2px dotted lighten($primary-color, 30%);
    &:hover {
      border-bottom: none;
      background-color: lighten($primary-color, 30%);
    }
  }
}

em {
  font-style: italic;
  &:hover {
    background-color: lighten($primary-color, 30%);
  }
}

a.submit {
  height: 40px;
  border-radius: 6px;
  display: inline-block;
  color: white;
  padding: 10px 24px 4px 24px;
  text-align: center;
  font-size: 120%;
  cursor: pointer;
  text-decoration: none;
}
