%footer#footer
  .main
    .address
      gorilla software GmbH
      %br
      Baumgasse 10
      %br
      8006 Zürich
    .contact
      =mail_to 'hi@gorillasoftware.ch'
      %br
      Tel: +41 44 508 07 73
      %br
      =link_to 'http://gorillasoftware.ch'
    .social
      %ul
        %li
          =link_to "http://twitter.com/gorillasoftware" do
            .image.social-twitter-black
        %li
          =link_to "http://github.com/gorillasoftware" do
            .image.social-github-black
