%section#about.bg-one
  #ancla1
  .section-one
    .title-one Individuelle Lösungen fürs Web
    .separator
      .line.line-1
    .data-content-one
      gorilla software bietet individuelle Lösungen fürs Web an. Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz. Die Nachhaltigkeit unserer Arbeit ist uns wichtig. Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen. Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.
    .profile
      .pofile-item
        .profile-element.element-1
        .profile-title
          Web- & Mobilanwendungen
        .profile-info Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      .pofile-item
        .profile-element.element-2
        .profile-title
          Offene Standards
        .profile-info Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      .pofile-item
        .profile-element.element-3
        .profile-title
          Big Data und Web-Mining
        .profile-info Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.
