%section#about.page
  .row
    %h1.columns.small-10.small-centered Individuelle Lösungen fürs Web
  .separator
    .line.line-1

  .row
    .motto.columns.large-6.small-10.small-centered
      gorilla software bietet individuelle Lösungen fürs Web an. Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz. Die Nachhaltigkeit unserer Arbeit ist uns wichtig. Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen. Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.

  .solutions.row
    .solution.columns.small-centered.large-4.large-uncentered.small-6
      .img.img-1
      %h3
        Web- & Mobilanwendungen
      .profile-info Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
    .solution.columns.small-centered.large-4.large-uncentered.small-6
      .img.img-2
      %h3
        Offene Standards
      .profile-info Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
    .solution.columns.small-centered.large-4.large-uncentered.small-6
      .img.img-3
      %h3
        Big Data und Web-Mining
      .profile-info Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.
