%section#about.page
  .row
    %h1.columns.small-12.small-centered Individuelle Lösungen fürs Web

  .row
    %p.motto.columns.medium-8.large-8.small-centered
      gorilla software bietet individuelle Lösungen fürs Web. Programmieren ist
      meine Leidenschaft und ich verfolge dabei einen agilen und pragmatischen
      Softwareentwicklungsansatz. Die Nachhaltigkeit meiner Arbeit ist mir
      wichtig. Mit Rapid Prototyping kann ich Kundenbedürfnisse frühzeitig
      erkennen. Test-Driven Development hilft mir dabei, Qualität zu einer
      Anforderung zu machen.

  .solutions.row.text-justify
    .web.solution.columns.small-centered.medium-8.large-6.large-uncentered
      .img
      %h3
        Web- & Mobilanwendungen
      %p.profile-info
        Mein Portfolio beinhaltet Lösungen für Webanwendungen, die
        vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen
        Datenverarbeitung ein breites Spektrum abdecken.

    .standards.solution.columns.small-centered.medium-8.large-6.large-uncentered
      .img
      %h3
        APIs und Integrationen
      %p.profile-info
        Beenden sie das Inseldasein ihrer Lösung. Ich helfe ihnen, Daten von
        Partnern oder öffentlichen Anbietern einzubinden, oder ihre Daten
        für andere zur Verfügung zu stellen. Ihre Web-Schnittstellen
        (APIs) entwickle ich nach offenen Standards.
    .webmining.solution.columns.small-centered.medium-8.large-6.large-uncentered
      .img
      %h3
        Big Data und Web-Mining
      %p.profile-info
        Ich helfe ihnen, unstrukturierte Daten such- und fassbar zu machen.
        Eine Sammlung an bewährten Tools und Frameworks ermöglichen es mir
        gezielt auf Informationen zuzugreifen und diese für sie individuell
        darzustellen.

    .consulting.solution.columns.small-centered.medium-8.large-6.large-uncentered
      .img
      %h3
        Coaching & Consulting
      %p.profile-info.text-justify
        Während meiner jahrelangen Tätigkeit als Full-Stack Entwickler konnte
        ich mir einen grossen Erfahrungsschatz anlegen. Diesen kann ich als
        freier Mitarbeiter, Coach oder Berater in ihr Projektteam
        einfliessen lassen.
      %p.profile-info.text-justify
        Neben klassischen Themen wie Software Architektur und Implementation
        biete ich Unterstützung bei Agilen Methodologien wie Test- & Behaviour
        Driven Development, Continuous Integration und Continuous Deployment.

  .solutions.row
    .consulting.solution.columns.small-centered.medium-8
      %p.profile-info
        Sie wollen mit mir zusammenarbeiten?
        %br
        Nehmen sie mit mir Kontakt auf.
        %br
        =mail_to "sebastian@gorillasoftware.ch"
  .separator
    .line.line-1
