.client.fela.columns.large-6.large-uncentered
  .img
  %h3
    Fela Management AG
  %h3
    %small
      %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
        %i.fi-clipboard-notes
      Software Entwicklung
  %p
    Embedded Linux Software Stack f체r den Einsatz im
    Kundeninformationssystems im Bahnverkehr.  Integration und Entwicklung
    von Betriebssystem und Ger채teadministration (Web-GUI und API).
  %p
    Applikationsentwicklung f체r Notfallkommunikation mit Anbindung an SIP,
    GSM und propriet채ren Protokollen.
  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to('fela.biz', 'http://www.fela.biz', :target => '_blank')
      .large-6.columns
        %i.fi-calendar
        2011 - 2014
  %p.technologies
    %span.label Embedded Linux (OpenEmbedded)
    %span.label Python
    %span.label Twisted Matrix
    %span.label SIP
    %span.label GSM Gateway
