%section#clients.page
  %h1 Kunden

  .clients.row
    .client.swisscom.columns.small-6.large-3.large-uncentered
      .img{title: "Swisscom \(Schweiz\) AG"}
    .client.screenconcept.columns.small-6.large-3.large-uncentered
      .img{title: "Screen Concept"}
    .client.rayneer.columns.small-6.large-3.large-uncentered
      .img{title: "Rayneer TV"}
    .client.fela.columns.small-6.large-3.large-uncentered
      .img{title: "Fela Management AG"}
  .clients.row
    .client.winterlife.columns.small-6.large-3.large-uncentered
      .img{title: "Winterlife"}
    .client.plex-lab.columns.small-6.large-3.large-uncentered
      .img{title: "Plex Lab AG"}
