%section#clients.page
  %h1 Referenzen

  .clients.row
    =partial 'client_rayneer'
    =partial 'client_screen_concept'
  -#.separator
    -#.line.line-1
  -#.clients.row
    -#=partial 'client_winterlife'
    -#=partial 'client_fela'
  -#.separator
    -#.line.line-1
  -#.clients.row
    -#=partial 'client_birom'
