.client.birom.columns.large-6.large-uncentered
  .img
  %h3
    Birom
  %h3
    %small
      %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
        %i.fi-clipboard-notes
      Software Entwicklung
  %p
    Browser Online Multiplayergame
  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to('birom.net', 'http://birom.net', :target => '_blank')
      .large-6.columns
        %i.fi-calendar
        2011
  %p.technologies
    %span.label node.js
    %span.label Socket.IO
    %span.label JavaScript
    %span.label HTML
    %span.label CSS
