.client.winterlife.columns.large-6.large-uncentered
  .img
  %h3
    winterlife
  %h3
    %small
      %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
        %i.fi-clipboard-notes
      Software Entwicklung
  %p
    REST API für Android und iOS Apps basierend auf CakePHP. Events und Anlässe
    können via Web Administration Interface gepflegt werden. Wird bereits von den
    Skigebieten Flumserberg, Disentis, Bosco-Gurin und Wolzenalp eingesetzt.
  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to('Auf Github', 'https://github.com/kpricorn/skiresort_app_backend', :target => '_blank')
    .row
      .large-6.columns
        %i.fi-link
        =link_to('winterlife.com', 'http://winterlife.com', :target => '_blank')
      .large-6.columns
        %i.fi-calendar
        2013
  %p.technologies
    %span.label PHP
    %span.label CakePHP
    %span.label MySQL
    %span.label REST API
    %span.label Web admin interface
