.client.screenconcept.columns.large-6.large-uncentered
  .img
  %h3 Screen Concept
  %h3
    %small
      %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
        %i.fi-clipboard-notes
      Consulting / Software Entwicklung
  %p
    Consulting und Mitarbeit an Ruby on Rails Projekten f端r Kunden Zuger Webagentur
    =link_to('screenconcept.com', 'http://screenconcept.com', :target => '_blank')
    wie Alfred M端ller, Hieronymus und Michelin.

  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to("Alfred M端ller", "http://alfred-mueller.ch", :target => "_blank")
      .large-6.columns
        %i.fi-link
        =link_to("Feldpark Zug", "http://feldpark-zug.ch/", :target => "_blank")
    .row
      .large-6.columns
        %i.fi-link
        =link_to("B端nzpark Muri", "http://buenzpark-muri.ch/", :target => "_blank")
      .large-6.columns
        %i.fi-link
        =link_to("Hieronymus Stationers", "http://www.hieronymus-cp.com/", :target => "_blank")
  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to('screenconcept.com', 'http://screenconcept.com', :target => '_blank')
      .large-6.columns
        %i.fi-calendar
        2013
  %p.technologies
    %span.label Ruby on Rails
    %span.label PostgreSQL
    %span.label JavaScript/CoffeeScript
    %span.label Backbone.js
    %span.label Email Marketing
    %span.label SMS Gateway
    %span.label Frontend Entwicklung
    %span.label Responsive Design
    %span.label HTML
    %span.label CSS
