.client.rayneer.columns.large-6.large-uncentered
  .img
  %h3
    Rayneer TV
  %h3
    %small
      %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
        %i.fi-clipboard-notes
      Software Entwicklung
  %p
    Personalisiertes Musikfernsehen mit monatilch 100'000
    unique Usern und auf deren Musikgeschmack zugeschnittenen
    Video Streams.
  %p
    Konzeption, Evaluation, Planung und Umsetzung der Streaming-
    und Backend Services. Einbindung des Flash Players und der Android/iOS
    Mobile Apps. Integration als
    %a{:href => "http://watch.wilmaa.com/#/rayneer"} Wilmaa
    Kanal.
  %p
    .row
      .large-6.columns
        %i.fi-link
        =link_to('rayneer.tv', 'https://rayneer.tv', :target => '_blank')
      .large-6.columns
        %i.fi-calendar
        2013 - 2014
  %p.technologies
    %span.label Ruby
    %span.label Sinatra
    %span.label PostgreSQL
    %span.label redis
    %span.label REST API
    %span.label Background Jobs
    %span.label Machine Learning
    %span.label Video Processing
