%section#clients.page
  %h1 Portfolio

  .clients.row
    .client.rayneer.columns.large-6.large-uncentered
      .img
      %h3
        Rayneer TV
      %h3
        %small
          %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
            %i.fi-clipboard-notes
          Software Entwicklung
      %p
        Personalisiertes Musikfernsehen mit monatilch 100'000
        unique Usern und auf deren Musikgeschmack zugeschnittenen
        Video Streams.
      %p
        Konzeption, Evaluation, Planung und Umsetzung der Streaming-
        und Backend Services. Einbindung des Flash Players und der Android/iOS
        Mobile Apps. Integration als
        %a{:href => "http://watch.wilmaa.com/#/rayneer"} Wilmaa
        Kanal.
      %p
        .row
          .large-6.columns
            %i.fi-link
            =link_to('rayneer.tv', 'https://rayneer.tv', :target => '_blank')
          .large-6.columns
            %i.fi-calendar
            2013 - 2014
      %p.technologies
        %span.label Ruby
        %span.label Sinatra
        %span.label PostgreSQL
        %span.label redis
        %span.label REST API
        %span.label Background Jobs
        %span.label Machine Learning
        %span.label Video Processing
    .client.screenconcept.columns.large-6.large-uncentered
      .img
      %h3 Screen Concept
      %h3
        %small
          %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
            %i.fi-clipboard-notes
          Consulting / Software Entwicklung
      %p
        Mitarbeit an Ruby on Rails Projekten für Kunden wie Alfred Müller,
        Hieronymus, Roche und Michelin.

      %p
        .row
          .large-6.columns
            %i.fi-link
            =link_to("Alfred Müller", "http://alfred-mueller.ch", :target => "_blank")
          .large-6.columns
            %i.fi-link
            =link_to("Feldpark Zug", "http://feldpark-zug.ch/", :target => "_blank")
        .row
          .large-6.columns
            %i.fi-link
            =link_to("Bünzpark Muri", "http://buenzpark-muri.ch/", :target => "_blank")
          .large-6.columns
            %i.fi-link
            =link_to("Hieronymus Stationers", "http://www.hieronymus-cp.com/", :target => "_blank")
      %p
        .row
          .large-6.columns
            %i.fi-link
            =link_to('screenconcept.com', 'http://screenconcept.com', :target => '_blank')
          .large-6.columns
            %i.fi-calendar
            2013
      %p.technologies
        %span.label Ruby on Rails
        %span.label PostgreSQL
        %span.label JavaScript/CoffeeScript
        %span.label Backbone.js
        %span.label Email Marketing
        %span.label SMS Gateway
        %span.label Frontend Entwicklung
        %span.label Responsive Design
        %span.label HTML
        %span.label CSS
  .separator
    .line.line-1
  .clients.row
    .client.winterlife.columns.large-6.large-uncentered
      .img
      %h3
        winterlife
      %h3
        %small
          %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
            %i.fi-clipboard-notes
          Software Entwicklung
      %p
        REST API für Android und iOS Apps basierend auf CakePHP. Events und Anlässe
        können via Web Administration Interface gepflegt werden. Wird bereits von den
        Skigebieten Flumserberg, Disentis, Bosco-Gurin und Wolzenalp eingesetzt.
      %p
        .row
          .large-6.columns
            %i.fi-link
            =link_to('Auf Github', 'https://github.com/kpricorn/skiresort_app_backend', :target => '_blank')
        .row
          .large-6.columns
            %i.fi-link
            =link_to('winterlife.com', 'http://winterlife.com', :target => '_blank')
          .large-6.columns
            %i.fi-calendar
            2013
      %p.technologies
        %span.label PHP
        %span.label CakePHP
        %span.label MySQL
        %span.label REST API
        %span.label Web admin interface
    .client.fela.columns.large-6.large-uncentered
      .img
      %h3 Fela Management AG
      %h3
        %small Software Entwicklung (2011 - 2014)
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .clients.row
    .client.birom.columns.large-6.large-uncentered
      .img
      %h3
        Birom
      %h3
        %small
          %span.has-tip{"data-tooltip"=>"", "data-options"=>"disable_for_touch:true", "title"=>"Art der Zusammenarbeit"}
            %i.fi-clipboard-notes
          Software Entwicklung
      %p
        Browser Online Multiplayergame
      %p
        .row
          .large-6.columns
            %i.fi-link
            =link_to('birom.net', 'http://birom.net', :target => '_blank')
          .large-6.columns
            %i.fi-calendar
            2011
      %p.technologies
        %span.label node.js
        %span.label Socket.IO
        %span.label JavaScript
        %span.label HTML
        %span.label CSS
