%form#formulario{:action => "https://gorillasoftware.wufoo.com/forms/z7x4m1/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => "", :target => '_blank'}
  %fieldset
    %input#idstamp{:name => "idstamp", :type => "hidden", :value => "gpZrPXiPuQ+vYMant8YxoXNTtMh22XItHEJTkG4Il4Q="}/
    .first
      %label.data-form{:for => "Field5"} Vorname
      %input#Field5{:name => "Field5", :type => "text", :value => ""}/
      %label.data-form{:for => "Field6"} Nachname
      %input#Field6{:name => "Field6", :type => "text", :value => ""}/
      %label.data-form{:for => "Field7"} Email
      %input#Field7{:maxlength => "255", :name => "Field7", :spellcheck => "false", :type => "email", :value => ""}/
    %div
      %label.data-form{:for => "messageform"} Nachricht
      %textarea#messageform{:name => "Field8"}
    %p
      %p= link_to 'Verschicken', '#', onclick: '$(this).closest("form").submit(); return false;', class: 'submit'
