#footer
  .ruler
  .newsletter.row
    %form{:action => "http://gorillasoftware.us7.list-manage.com/subscribe/post?u=5a4a472acf94be0e77c5796b6&id=e9c19870ae", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      .columns.medium-12.large-3
        %h2 Newsletter
      .columns.medium-9.large-7
        %input#newsletter.email{:name => "EMAIL", :placeholder => "E-Mail Adresse", :required => "", :type => "email", :value => ""}/
      .columns.medium-3.large-2
        = link_to 'Eintragen', '#', onclick: '$(this).closest("form").submit(); return false;', class: 'subscribe submit'
  .license
    .row
      .columns.small-8.medium-9.large-10
        %p
          %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"}
            Texts on gorilla software website and gorilla software blog
          by
          = link_to "http://gorillasoftware.ch", :property => "cc:attributionName", :rel => "cc:attributionURL", "xmlns:cc" => "http://creativecommons.org/ns#" do
            gorilla software GmbH
          is licensed under a
          =link_to "https://creativecommons.org/licenses/by-sa/4.0/", :rel => "license" do
            Creative Commons Attribution-ShareAlike 4.0 International License
      .columns.small-4.medium-3.large-2
        = link_to "https://creativecommons.org/licenses/by-sa/4.0/", :rel => "license" do
          = image_tag "https://i.creativecommons.org/l/by-sa/4.0/88x31.png", :alt => "Creative Commons License", :style => "border-width:0"
    .row
      .columns.small-12.medium-9
        %p artwork and logo © 2020 gorilla software GmbH. All Rights Reserved.
