= topbar(title: 'gorilla software', title_link: '/', sticky: true, contain_to_grid: true, menu_text: '') do
  - right do
    - menu_item 'Was', '/#about'
    - menu_item 'Wer', '/#team'
    - menu_item 'Wie', '/#services'
    - menu_item 'Kontakt', '/#contact'
    - menu_item 'Blog', '/blog'
