%section#recentwork.bg-two
  #ancla2
  .section-two.no-bottom
    .title-two was
    .separator
      .line.line-2
    .data-content-two
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
  .window
    .content.projectsContent
      .flexslider{:style => "width: 100%; height: 100%;"}
        %ul.slides.slider.horizontal{:style => "width: 21600px;"}
          %li.caseCount.cloned.panel{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/001.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/002.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/003.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/004.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/005.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/006.png", :title => ""}/
    .controller
      .prev
      .bullets
      .next

