%section#services.page
  %h1 wie

  .services.row
    .langs.service.columns.large-6
      .img
      %h3 Programmiersprachen
      %p
        Wir besitzen eine breit abgestützte Erfahrung in Web- und Applikationsentwicklung mit
        %span.label.radius Ruby
        ,
        %span.label.radius JavaScript/CoffeeScript
        \. Wir fühlen uns auch in systemnaher Umgebung mit
        %span.label.radius Python
        und
        %span.label.radius Perl
        wohl .
    .web.service.columns.large-6
      .img
      %h3 Web-Technologien
      %p
        Von Rapid Prototyping bis zu grossen Web-Projekten:
        %span.label.radius Ruby on Rails
        ist das Web-Framework unserer Wahl.
        Wir haben Erfahrung mit
        %span.label.radius Node.js
        und
        %span.label.radius Twisted
        in hochperformanten und eventbasierten Umgebungen.
  .services.row
    .frontend.service.columns.large-6
      .img
      %h3 Front-end Entwicklung
      %p
        Bei der Front-end Entwicklung setzen wir auf den
        %span.label.radius mobile first
        Ansatz und implementieren Web-Applikationen
        %span.label.radius responsive.
        \.
        %span.label.radius jQuery
        ,
        %span.label.radius Backbone.js
        und
        %span.label.radius Underscore.js
        sind nur einige, häufig verwendete Tools.
    .dataprocessing.service.columns.large-6
      .img
      %h3 Data Processing
      %p
        Für die Verarbeitung grosser Datenmengen nehmen wir bewährte Tools wie
        %span.label.radius Lucene/Solr
        oder
        %span.label.radius elasticsearch
        zur Hilfe.
  .services.row
    .systems.service.columns.large-6
      .img
      %h3 Systeme und Services
      %p
        Ob im Server- oder Embeddedbereich kommt
        %span.label.radius GNU/Linux
        als solide und stabile Plattform zum Zug.
        \. Diese Grundlage für Web-Projekte, in Kombination mit
        %span.label.radius Amazon cloud
        oder PaaS Anbietern wie
        %span.label.radius Heroku,
        erlaubt uns, flexibel und sparsam mit Resourcen umzugehen.
    .oss.service.columns.large-6
      .img
      %h3 Open Source Software
      %p
        Open Source Software dient uns als wichtiger Baustein im Einsatz als
        3rd-party Software, Plattform oder Library.
        Wo möglich, veröffentlichen wir eigene Entwicklungen unter einer
        %span.label.radius Open Source Lizenz
        zum Beispiel auf
        =link_to 'http://github.com/kpricorn' do
          %span.label.radius gitbub
