%section#services.page
  %h1 wie
  .separator
    .line.line-1

  .services.row
    .service.columns.medium-6.large-3
      .img.img-1
      %h3 graphic design
    .service.columns.medium-6.large-3
      .img.img-2
      %h3 strategy
    .service.columns.medium-6.large-3
      .img.img-3
      %h3 web design
    .service.columns.medium-6.large-3
      .img.img-4
      %h3 motion graphics

  .software
    .skill-content
      .progress-bar.stripes1.skill-1
        .skill-in
          .info-skills.skill-light graphic design
      .percent 100%
    .skill-content
      .progress-bar.stripes2.skill-2
        .skill-in
          .info-skills.skill-dark web design
      .percent 90%
    .skill-content
      .progress-bar.stripes1.skill-3
        .skill-in
          .info-skills.skill-light wordpress
      .percent 50%
    .skill-content
      .progress-bar.stripes2.skill-4
        .skill-in
          .info-skills.skill-dark motion graphics
      .percent 90%
