#services.container.bg-one
  #ancla5
  .section-one
    .title-one wie
    .separator
      .line.line-1
    .data-content-one
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    .disciplines
      .works
        / work1
        .titleworks.ico-one
        .infoworks graphic design
      / end work
      .works
        / work2
        .titleworks.ico-two
        .infoworks strategy
      / end work
      .works
        / work3
        .titleworks.ico-three
        .infoworks web design
      / end work
      .works
        / work4
        .titleworks.ico-four
        .infoworks motion graphics
      / end work
    / end disciplines
    .software
      .skill-content
        .progress-bar.stripes1.skill-1
          .skill-in
            .info-skills.skill-light graphic design
        .percent 100%
      .skill-content
        .progress-bar.stripes2.skill-2
          .skill-in
            .info-skills.skill-dark web design
        .percent 90%
      .skill-content
        .progress-bar.stripes1.skill-3
          .skill-in
            .info-skills.skill-light wordpress
        .percent 50%
      .skill-content
        .progress-bar.stripes2.skill-4
          .skill-in
            .info-skills.skill-dark motion graphics
        .percent 90%
