%section#services.page
  %h1 wie
  .separator
    .line.line-1

  .services
    .langs.service
      .img
      %h3 Programmiersprachen
      %p
        Wir besitzen breit abgestützte Erfahrung in Web-Projekten und Applikationsentwicklung mit
        %span.round.label Ruby
        ,
        %span.round.label JavaScript/CoffeeScript
        \. Wir fühlen uns auch in systemnaher Umgebung mit
        %span.round.label Python
        und
        %span.round.label Perl
        wohl .
    .web.service
      .img
      %h3 Web-Technologien
      %p
        Wir setzen auf
        %span.round.label Ruby on Rails
        als Web-Framework der Wahl. Von Rapid Prototyping bis zu Web-Projekten jeder Grösse.
        Wir haben Erfahrung mit
        %span.round.label node.js
        und
        %span.round.label Twisted
        in hochperformanten und eventbasierten Umgebungen.
  .services
    .frontend.service
      .img
      %h3 Front-end Entwicklung
      %p
        Bei der Entwicklung von Frontend setzen wir auf den
        %span.round.label mobile first
        Ansatz und implementieren
        %span.round.label Responsive Web-Applikationen.
        \.
        %span.round.label jQuery
        ,
        %span.round.label Backbone.js / Underscore.js
        sind nur einige, häufig verwendete Tools.
    .dataprocessing.service
      .img
      %h3 Data Processing
      %p
        Für die Verarbeitung grosser Datenmengen nehmen wir bewährte Tools wie
        %span.round.label Lucene/Solr
        oder
        %span.round.label elasticsearch
        zur Hilfe.
  .services
    .systems.service
      .img
      %h3 Systeme und Services
      %p
        Ob als Server Betriebssystem oder im Embeddedbereich verwenden wir
        %span.round.label GNU/Linux
        \. Im Einsatz als solide und stabile Plattform für Web-Projekte, in Kombination mit
        %span.round.label Amazon cloud
        oder PaaS Anbietern wie
        %span.round.label Heroku
        erlaubt es uns, flexibel und sparsam mit Resourcen umzugehen.
    .oss.service
      .img
      %h3 Open Source Software
      %p
        Wir setzen auf Open Source Software. Ob im Einsatz als 3rd-party Software, Plattform und Libraries.
        Wo möglich, veröffentlichen wir eigene Entwicklungen unter einer
        %span.round.label Open Source Lizenz
        zum Beispiel auf
        =link_to 'http://github.com/sdecastelberg' do
          %span.round.label gitbub
