%section#team.page
  %h1 wer
  .separator
    .line.line-1

  %article.team
    .teamlist.row
      .who.columns.small-centered.large-4.small-12
        .members-box
          .photo.photo-one
          .name-team Sebastian de Castelberg
        .photo-footer
          .plus-btn
          .socialicons
            = link_to 'http://github.com/sdecastelberg' do
              .t.t-github
            = link_to 'http://twitter.com/sdecastelberg' do
              .t.t-twitter
            = link_to 'http://facebook.com/sdecastelberg' do
              .t.t-fb
            - mail_block = capture do
              .t.t-mail
            = mail_to 'sebastian@gorillasoftware.ch', mail_block
