%section#testimonials.page
  %h3 Das sagen unsere Kunden
  .separator
    .line.line-1
  .testimonials.row
    .columns.large-offset-2.large-8
      %ul{"data-orbit" => "", "data-options" => "animation_speed:500;animation:slide;timer_speed:5000;pause_on_hover:true;navigation_arrows:false;bullets:false;slide_number:false;resume_on_mouseout:true;timer_show_progress_bar:false;"}
        %li.testimonial
          %blockquote
            Wir haben gorilla software GmbH als kompetenten und pragmatischen
            Partner erlebt, versiert in verschiedenen Technologien.
            Unkomplizierte und effiziente Zusammenarbeit.
            %br
            %cite Felipe Kaufmann, Team Leader Software Engineering at Screen Concept
        %li.testimonial
          %blockquote
            We were very happy with the solution presented by the Gorilla GmbH. It only took a few days and everything was set up perfectly and well documented. Also the support was flawless, email and phone support were availalbe immediatley
            %cite Nicolas Buechi, Art Director at winterlife.com
