---
description: bar
---

#header.outer
  .inner
    .content
      #gorilla

      %h1
        GORILLA SOFTWARE

#teaser.outer
  .inner
    .content
      %h2
        Individuelle Lösungen fürs Web
      %p
        gorilla software bietet individuelle Lösungen fürs Web.
      %p
        Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz.
      %p
        Die Nachhaltigkeit unserer Arbeit ist uns wichtig.
      %p
        Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen.
      %p
        Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.

#solutions.outer
  .inner
    .content
      %article.solution.web
        %h3
          Web- & Mobile Anwendungen
        %p
          Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      %article.solution.standards
        %h3
          Offene Standards
        %p
          Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      %article.solution.data
        %h3
          Big Data und Web Mining
        %p
          Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.
      %article.solution.other
        .image.hey
        %p
          Suchen Sie Entwickler für ihr Projekt oder haben Sie einfach nur Fragen? 
          =mail_to "hi@gorillasoftware.ch"

#technologies.outer
  .inner
    .content
      %ul.slides
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-rails
          %p
            Data Processing (Hadoop/HBase, Solr and Lucene, Message queues)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-nodejs
          %p
            Node.js für eventbasierte und hoch-skalierbare Architekturen.
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-ruby
          %p
            Web-Technologien (Ruby on Rails, Serverseitiges JS/Coffeescript)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-python
          %p
            Systeme und Services (Linux, AWS)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-html5
          %p
            Systeme und Services (Linux, AWS)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-coffeescript
          %p
            Systeme und Services (Linux, AWS)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-linux
          %p
            Systeme und Services (Linux, AWS)
        %li.technology
          .technology-outer
            .technology-inner
              .image.skills-solr
          %p
            Systeme und Services (Linux, AWS)

#team.outer
  .inner
    .content
      %section
        %article.portrait.sebastian
          .details
            .image=image_tag "sebastian.jpg", :alt => "Portrait Sebastian"
          .about
            %h3 Sebastian de Castelberg
            .social
              %ul
                %li
                  =link_to "http://twitter.com/sdecastelberg" do
                    .image.social-twitter-green
                %li
                  =link_to "http://ch.linkedin.com/in/sdecastelberg" do
                    .image.social-linkedin-green
                %li
                  =link_to "http://github.com/sdecastelberg" do
                    .image.social-github-green
          .clearfix

#directions.outer
  .inner
    .content
      %ul.address
        %li gorilla software GmbH
        %li Baumgasse 10
        %li 8005 Zürich
        %li
          =mail_to "hi@gorillasoftware.ch"
        %li +41 44 508 07 73
        %li
          =link_to "gorillasoftware.ch", "http://gorillasoftware.ch"
        %li.social
          %ul
            %li
              =link_to 'http://twitter.com/gorillasoftware' do
                .image.social-twitter-green
            %li
              =link_to 'http://github.com/gorillasoftware' do
                .image.social-github-green
      .map-holder
        .map-canvas

-#=partial('partials/footer')
