---
title: gorilla software - Individuelle Lösungen fürs Web
---

#banner.container-one.page
  .gorilla
  %h1 gorilla software

%section#about.bg-one
  #ancla1
  .section-one
    .title-one Individuelle Lösungen fürs Web
    .separator
      .line.line-1
    .data-content-one
      gorilla software bietet individuelle Lösungen fürs Web an. Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz. Die Nachhaltigkeit unserer Arbeit ist uns wichtig. Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen. Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.
    .profile
      .pofile-item
        .profile-element.element-1
        .profile-title
          Web- & Mobilanwendungen
        .profile-info Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      .pofile-item
        .profile-element.element-2
        .profile-title
          Offene Standards
        .profile-info Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      .pofile-item
        .profile-element.element-3
        .profile-title
          Big Data und Web-Mining
        .profile-info Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.

/ end about
%section#recentwork.bg-two
  #ancla2
  .section-two.no-bottom
    .title-two was
    .separator
      .line.line-2
    .data-content-two
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
  .window
    .content.projectsContent
      .flexslider{:style => "width: 100%; height: 100%;"}
        %ul.slides.slider.horizontal{:style => "width: 21600px;"}
          %li.caseCount.cloned.panel{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/001.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/002.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/003.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/004.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/005.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/006.png", :title => ""}/
    .controller
      .prev
      .bullets
      .next

%section#team.container
  #ancla3
  .section-one
    .title-one wer
    .separator
      .line.line-1
    .data-content-one
    %article.content-team.teamshow
      .teamlist
        .team
          .who
            .members-box
              .photo.photo-one
              .name-team Sebastian de Castelberg
            .photo-footer
              .plus-btn
              .socialicons
                = link_to 'http://github.com/sdecastelberg' do
                  .t-github
                = link_to 'http://twitter.com/sdecastelberg' do
                  .t-twitter
                = link_to 'http://facebook.com/sdecastelberg' do
                  .t-fb
                - mail_block = capture do
                  .t-mail
                = mail_to 'sebastian@gorillasoftware.ch', mail_block

/ end team
.works-container.bg-two
  #ancla4
  .section-two.bottom-works
    .works-header
      .title-two für wen
      .separator
        .line.line-2
      .data-content-two
    #portfolio.container
      .item.screenconcept
        .img
        .txt
          ScreenConcept
      .item.fela
        .img
        .txt
          Fela Management AG
      .item.winterlife
        .img
        .txt
          winterlife.com /// all area media

#services.container.bg-one
  #ancla5
  .section-one
    .title-one wie
    .separator
      .line.line-1
    .data-content-one
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    .disciplines
      .works
        / work1
        .titleworks.ico-one
        .infoworks graphic design
      / end work
      .works
        / work2
        .titleworks.ico-two
        .infoworks strategy
      / end work
      .works
        / work3
        .titleworks.ico-three
        .infoworks web design
      / end work
      .works
        / work4
        .titleworks.ico-four
        .infoworks motion graphics
      / end work
    / end disciplines
    .software
      .skill-content
        .progress-bar.stripes1.skill-1
          .skill-in
            .info-skills.skill-light graphic design
        .percent 100%
      .skill-content
        .progress-bar.stripes2.skill-2
          .skill-in
            .info-skills.skill-dark web design
        .percent 90%
      .skill-content
        .progress-bar.stripes1.skill-3
          .skill-in
            .info-skills.skill-light wordpress
        .percent 50%
      .skill-content
        .progress-bar.stripes2.skill-4
          .skill-in
            .info-skills.skill-dark motion graphics
        .percent 90%
/ end services
=partial 'contact'
=partial 'footer'
