---
description: bar
---

#header.container
  =partial('partials/header')

  #teaser.inner
    #gorilla
    %h2
      Individuelle
      %br
      Lösungen
      %br
      fürs Web
    %p
      gorilla software bietet individuelle Lösungen fürs Web an.
      Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz.
      Die Nachhaltigkeit unserer Arbeit ist uns wichtig.
      Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen.
      Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.

%section#solutions.container
  #solutions.inner
    .title
      .left.banner-big-left.image
      .right.banner-big-right.image
      .center
        %h2 Lösungen
    .body
      %article.solution.web
        %h3
          Web- &
          %br
          Mobilanwendungen
        %p
          Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      %article.solution.standards
        %h3
          Offene
          %br
          Standards
        %p
          Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      %article.solution.data
        %h3
          Big Data
          %br
          und Web-Mining
        %p
          Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.
      .clearfix
      %article.solution.other
        .image.hey
        %p
          Suchen Sie Entwickler für ihr Projekt oder haben Sie einfach nur Fragen? 
          =mail_to "hi@gorillasoftware.ch"

%section#technologies.container
  #technologies-inner.inner
    .title
      .left.banner-big-left.image
      .right.banner-big-right.image
      .center
        %h2 Technologien
    .body
      %section.resume
        .technology
          .technology-outer
            .technology-inner
              .image.skills-rails
          %p
            Data Processing (Hadoop/HBase, Solr and Lucene, Message queues)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-nodejs
          %p
            Node.js für eventbasierte und hoch-skalierbare Architekturen.
        .technology
          .technology-outer
            .technology-inner
              .image.skills-ruby
          %p
            Web-Technologien (Ruby on Rails, Serverseitiges JS/Coffeescript)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-python
          %p
            Systeme und Services (Linux, AWS)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-html5
          %p
            Systeme und Services (Linux, AWS)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-coffeescript
          %p
            Systeme und Services (Linux, AWS)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-linux
          %p
            Systeme und Services (Linux, AWS)
        .technology
          .technology-outer
            .technology-inner
              .image.skills-solr
          %p
            Systeme und Services (Linux, AWS)

%section#team.container
  #team-inner.inner
    .title
      .left.banner-big-left.image
      .right.banner-big-right.image
      .center
        %h2 Team
    .body
      %section
        %article.portrait.sebastian
          .details
            .image=image_tag "sebastian.jpg", :alt => "Portrait Sebastian"
          .about
            %h3 Sebastian de Castelberg
            .social
              %ul
                %li
                  =link_to "http://twitter.com/sdecastelberg" do
                    .image.social-twitter-green
                %li
                  =link_to "http://ch.linkedin.com/in/sdecastelberg" do
                    .image.social-linkedin-green
                %li
                  =link_to "http://github.com/sdecastelberg" do
                    .image.social-github-green
          .clearfix

%section#contact.container
  #contact-inner.inner
    .title
      .left.banner-big-left.image
      .right.banner-big-right.image
      .center
        %h2 Kontakt
    .body
      %ul.address
        %li gorilla software GmbH
        %li Baumgasse 10
        %li 8005 Zürich
        %li
          =mail_to "hi@gorillasoftware.ch"
        %li +41 44 508 07 73
        %li
          =link_to "gorillasoftware.ch", "http://gorillasoftware.ch"
        %li.social
          %ul
            %li
              =link_to 'http://twitter.com/gorillasoftware' do
                .image.social-twitter-green
            %li
              =link_to 'http://github.com/gorillasoftware' do
                .image.social-github-green
      .map-holder
        .map-canvas

=partial('partials/footer')
