- content_for(:head) do
  %title gorilla software - Individuelle Lösungen fürs Web

#container
  %header
    #nav-holder
      %nav
        %ul#headernav
          %li
            =link_to "Lösungen", "#solutions"
          %li
            =link_to "Team", "#team"
          %li
            =link_to "Kontakt", "#contact"
      .address
        %p
          gorilla software GmbH | Baumstrasse 10 | 8005 Zürich | |
          =mail_to "hi@gorillasoftware.ch"
          | Tel: +41 44 508 07 73
    .title
      %a{:href => "/"}
        %p= image_tag 'gorilla.png', :alt => "logo gorilla software", :class => 'logo'
    .body
      #headline
        %hgroup
          %h1
            gorilla software
          %h2
            Individuelle Lösungen fürs Web
      %p
        Gorilla Software bietet individuelle Lösungen fürs Web an. Wir programmieren aus Leidenschaft und verfolgen dabei einen
        agilen und pragmatischen Softwareentwicklungsansatz.
        Die Nachhaltigkeit unserer Arbeit ist uns wichtig.  Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen.
        Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.

  %section#solutions
    .title
      %h2 Lösungen
    .body
      %article.solution#web
        %h3 Web- & Mobilanwendungen
        %p
          Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      %article.solution#standards
        %h3 Offene Standards
        %p
          Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      %article.solution#data
        %h3 Big Data und Web-Mining
        %p
          Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.
      %article.solution#other
        %p
          Suchen Sie Entwickler für ihr Projekt oder haben Sie einfach nur Fragen? 
          =mail_to "hi@gorillasoftware.ch"

  %section#team
    .title
      %h2 Team
    .body
      %section
        %article.portrait#seb
          .image
            =image_tag "portrait_sebastian.jpg", :alt => ""
          .about
            %h3 Sebastian de Castelberg
            .social
              %ul
                %li
                  %a{:href => "http://twitter.com/sdecastelberg"}
                    =image_tag "authbuttons/twitter_32.png", :alt => ""
                %li
                  %a{:href => "http://ch.linkedin.com/in/sdecastelberg"}
                    =image_tag "authbuttons/linkedin_32.png", :alt => ""
                %li
                  %a{:href => "http://github.com/sdecastelberg"}
                    =image_tag "authbuttons/github_32.png", :alt => ""
          .resume
            %h4 Expertise & Technologien
            %ul
              %li Web-Technologien (Ruby on Rails, Serverseitiges JS/Coffeescript)
              %li Front-end Entwicklung (jQuery, Haml/Sass)
              %li Data Processing (Hadoop/HBase, Solr and Lucene, Message queues)
              %li Systeme und Services (Linux, AWS)
  %section#contact
    .title
      %h2 Kontakt
    .body
      %ul.address
        %li gorilla software
        %li Baumstrasse 10
        %li 8005 Zürich
        %li
          =mail_to "hi@gorillasoftware.ch"
        %li Tel: +41 44 508 07 73
        %li
          Website:
          =link_to "gorillasoftware.ch", "http://gorillasoftware.ch"
      .social
        %ul
          %li
            %a{:href => "http://twitter.com/gorillasoftware"}
              =image_tag "authbuttons/twitter_32.png", :alt => ""
          %li
            %a{:href => "http://github.com/gorillasoftware"}
              =image_tag "authbuttons/github_32.png", :alt => ""
  #map_holder
    #map_canvas
    %script#map-marker-template{:type => "text/x-handlebars-template"}
      %strong
        {{company}}
      %br
      {{address1}}
      %br
      {{address2}}
      %br
      =link_to "In google maps öffnen", "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Baumstrasse+10,+8005+Z%C3%BCrich&aq=&sll=47.382205,8.535778&sspn=0.008035,0.01929&ie=UTF8&hq=&hnear=Baumgasse+10,+Kreis+5+8005+Z%C3%BCrich,+Switzerland&t=h&z=16"

- content_for(:post_body) do
  =javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&amp;region=CH&amp;language=de"

