---
title: gorilla software - Individuelle Lösungen fürs Web
---

#banner.container-one.page
  .gorilla
  %h1 gorilla software

%section#about.bg-one
  #ancla1
  .section-one
    .title-one Individuelle Lösungen fürs Web
    .separator
      .line.line-1
    .data-content-one
      gorilla software bietet individuelle Lösungen fürs Web an. Wir programmieren aus Leidenschaft und verfolgen dabei einen agilen und pragmatischen Softwareentwicklungsansatz. Die Nachhaltigkeit unserer Arbeit ist uns wichtig. Mit Rapid Prototyping können wir Kundenbedürfnisse frühzeitig erkennen. Test-Driven Development hilft uns dabei, Qualität zu einer Anforderung zu machen.
    .profile
      .pofile-item
        .profile-element.element-1
        .profile-title
          Web- & Mobilanwendungen
        .profile-info Wir bieten Webanwendungen an, die ein breites Spektrum abdecken. Unsere Lösungen reichen vom mobilen Client, über Web-Schnittstellen bis hin zur komplexen Datenverarbeitung.
      .pofile-item
        .profile-element.element-2
        .profile-title
          Offene Standards
        .profile-info Wir können das Inseldasein ihrer Lösung beenden. Wir helfen ihnen, wenn sie Daten von Partnern oder öffentlichen Anbietern einbinden, oder ihre Daten für andere zur Verfügung stellen möchten. Ihre Web-Schnittstellen (APIs) entwickeln wir nach offenen Standards.
      .pofile-item
        .profile-element.element-3
        .profile-title
          Big Data und Web-Mining
        .profile-info Wir helfen ihnen, unstrukturierte Daten such- und fassbar zu machen. Unsere skalierbaren Lösungen ermöglichen es ihnen gezielt auf Informationen zuzugreifen und diese individuell darzustellen.

/ end about
%section#recentwork.bg-two
  #ancla2
  .section-two.no-bottom
    .title-two recent projects
    .separator
      .line.line-2
    .data-content-two
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
  .window
    .content.projectsContent
      .flexslider{:style => "width: 100%; height: 100%;"}
        %ul.slides.slider.horizontal{:style => "width: 21600px;"}
          %li.caseCount.cloned.panel{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/001.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/002.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/003.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/004.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/005.png", :title => ""}/
          %li.caseCount.panel.activePage{:style => "width: 1542px; height: auto;"}
            %img{:alt => "", :src => "img/recent/006.png", :title => ""}/
    .controller
      .prev
      .bullets
      .next

%section#team.container
  #ancla3
  .section-one
    .title-one wer
    .separator
      .line.line-1
    .data-content-one
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    %article.content-team.teamshow
      .teamlist
        .team
          .who
            .members-box
              .photo.photo-one
              .name-team Sebastian de Castelberg
            .photo-footer
              .plus-btn
              .socialicons
                = link_to 'http://github.com/sdecastelberg' do
                  .t-github
                = link_to 'http://twitter.com/sdecastelberg' do
                  .t-twitter
                = link_to 'http://facebook.com/sdecastelberg' do
                  .t-fb
                - mail_block = capture do
                  .t-mail
                = mail_to 'sebastian@gorillasoftware.ch', mail_block
  .navigation
    .nav-bar
    %ul.dotsmenu
      %li#0.dots.jump0.activo
      %li#1.dots.jump1
      %li#2.dots.jump2
      %li#3.dots.jump3.oculto
      %li#4.dots.jump4.oculto
      %li#5.dots.jump5.oculto
      %li#6.dots.jump6.oculto
      %li#7.dots.jump7.oculto
      %li#8.dots.jump8.oculto
      %li#9.dots.jump9.oculto
    .direction-bar
      .dir-left.disable
      .dir-right
/ end team
.works-container.bg-two
  #ancla4
  .section-two.bottom-works
    .works-header
      .title-two work
      .separator
        .line.line-2
      .data-content-two
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    #portfolio.container
      .section.portfoliocontent
        %section#options.clearfix
          #filters.option-set.clearfix.foliomenu{"data-option-key" => "filter"}
            %a.selected.folio-btn{"data-option-value" => "*", :href => "#filter"}/
            .portfolio-btn all
            %a.folio-btn{"data-option-value" => ".design", :href => "#filter"}/
            .portfolio-btn graphic
            %a.folio-btn{"data-option-value" => ".websites", :href => "#filter"}/
            .portfolio-btn web design
            %a.folio-btn{"data-option-value" => ".motion", :href => "#filter"}/
            .portfolio-btn motion
            %a.folio-btn{"data-option-value" => ".branding", :href => "#filter"}/
            .portfolio-btn branding
        #container2.clearfix
          .inici
          .element.design.websites
            .ch-grid{:id => "portfolio1.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-1"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-1
              / <![endif]
          .element.websites
            .ch-grid{:id => "portfolio2.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-2"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-2
              / <![endif]
          .element.design.websites
            .ch-grid{:id => "portfolio3.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-3"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-3
              / <![endif]
          .element.motion.design
            .ch-grid{:id => "portfolio4.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-4"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-4
              / <![endif]
          .element.branding.websites
            .ch-grid{:id => "portfolio5.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-5"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-5
              / <![endif]
          .element.design
            .ch-grid{:id => "portfolio6.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-6"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-6
              / <![endif]
          .element.motion.design
            .ch-grid{:id => "portfolio7.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-7"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-7
              / <![endif]
          .element.websites.branding
            .ch-grid{:id => "portfolio8.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-8"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-8
              / <![endif]
          .element.design
            .ch-grid{:id => "portfolio9.html"}
              .work-info
                %span
                  Iphone App
                  %br/
                  %span web design
              /[if lte IE 9] <div class="ch-itemie9 ch-img-9"></div>
              / [if gt IE 9]><!
              .ch-item.ch-img-9
              / <![endif]
          .final
        / Project
        #project-show
        .project-window
          .project-content
          / AJAX Dinamic Content
        / end Project
      / #container
    / /END ISOTOPE PORTFOLIO
  / end portfolio
/ services
#services.container.bg-one
  #ancla5
  .section-one
    .title-one services
    .separator
      .line.line-1
    .data-content-one
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    .disciplines
      .works
        / work1
        .titleworks.ico-one
        .infoworks graphic design
      / end work
      .works
        / work2
        .titleworks.ico-two
        .infoworks strategy
      / end work
      .works
        / work3
        .titleworks.ico-three
        .infoworks web design
      / end work
      .works
        / work4
        .titleworks.ico-four
        .infoworks motion graphics
      / end work
    / end disciplines
    .software
      .skill-content
        .progress-bar.stripes1.skill-1
          .skill-in
            .info-skills.skill-light graphic design
        .percent 100%
      .skill-content
        .progress-bar.stripes2.skill-2
          .skill-in
            .info-skills.skill-dark web design
        .percent 90%
      .skill-content
        .progress-bar.stripes1.skill-3
          .skill-in
            .info-skills.skill-light wordpress
        .percent 50%
      .skill-content
        .progress-bar.stripes2.skill-4
          .skill-in
            .info-skills.skill-dark motion graphics
        .percent 90%
/ end services
#contact.container.bg-two
  #ancla6
  .section-two
    .title-two say hello
    .separator
      .line.line-2
    .data-content-two
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
    .contactinfo
      %h2.titlecontact Contact us
      %p
        Candy Company
        %br/
        12869 Hollywood Bvld Street
        %br/
        Los Angeles, California
      %p
        (333) 03.700.1234
        %br/
        2.123.456.78910
      %p info@candycompany.com
      .media
        %a.twitter{:href => "#twitter"}
        %a.rss{:href => "#rss"}
        %a.facebook{:href => "#facebook"}
        %a.pinterest{:href => "#pinterest"}
    %form#formulario{:action => "/", :method => "post"}
      %fieldset
        .first
          %label.data-form{:for => "nameform"} name
          %input#nameform{:name => "nameform", :onblur => "if(this.value=='') this.value='Name (required)'", :onclick => "if(this.value=='insert your name') this.value=''", :type => "text", :value => "insert your name"}/
          %label.data-form{:for => "emailform"} email
          %input#emailform{:name => "emailform", :onblur => "if(this.value=='') this.value='insert your email'", :onclick => "if(this.value=='insert your email') this.value=''", :type => "text", :value => "insert your email"}/
        %div
          %label.data-form{:for => "messageform"} your message
          %textarea#messageform{:name => "messageform", :onblur => "if(this.value=='') this.value='insert your message'", :onclick => "this.value=''"} insert your message
        %p
          %a.submit{:href => "#"} Send Mail
/ end contact
/ map
/ end map
#footer.container-one
  .footer-line
  .newsletter
    %h1 Newsletter
    %input#newsletter{:name => "newsletter", :onblur => "if(this.value=='') this.value='email adress'", :onclick => "if(this.value=='email adress') this.value=''", :type => "text", :value => "email adress"}/
    %p
      %a.subscribe{:href => "#"} Subcribe
    .credits Lorem Ipsum is simply dummy text of the printing.
/ end footer
